@charset "utf-8";
/* CSS Document */
// @import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

// html{
//     overflow-x: hidden;
//     scroll-behavior: smooth;
// }

html, body {
    height: 100%;
}

body {
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    font-family: "Jost", sans-serif;
    height: 100%;
    p {
        font-size: 1.2rem;
    }
}

// headings //
.h1,h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.h2,h2 {
    font-size: 2rem;
    font-weight: 700;
}

.h3,h3 {
    font-size: 2.25rem;
    font-weight: 700;
}

.h4,h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.h5,h5 {
    font-size: 1.25rem;
    font-weight: 700;
}

.h6,h6 {
    font-size: 1rem;
    font-weight: 700;
}


.text-black{
    color: #000;
}

// color variable //
$orange-color:#f68a0a;
$white-color :#ffffff;
$blue-color:#0b6387;
$light-gray: #f8f8f8;
$black-color: #000000;

.bg-orange {
    background: $orange-color;
}
.text-white{
    color: $white-color;
}
.text-blue{
    color: $blue-color;
}
.bg-blue {
    background-color: $blue-color;
}
.bg-light {
    background-color: $light-gray;
}
.bg-black {
    background-color: $black-color;
}
.text-primary {
    color: $orange-color !important;
}

nav {
    flex-direction: column !important;
    padding-top: 0px !important;
    padding-bottom: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .bg-blue {
        margin-bottom: 10px;
        a {
            color: $white-color;
        }
    }
    &.navbar {
        background-color: $white-color !important;
    }
    .logo {
        width: 18%;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
    .navbar-nav {
        .nav-item {
            a {
                font-size: 18px;
                font-weight: 500;
                color: $blue-color;
                margin: 0 15px;
                transition: .5s;
                &:hover {
                    color: $orange-color;
                }
            }
        }
    }
}

.container {
    @media (min-width: 991px) {
        max-width: 1320px;
    }
}

.title {
    font-size: 1.5rem;
    color: $black-color;
    @media (min-width: 991px) {
        font-size: 3.5rem;
    }
}
.expYears {
    font-weight: 600;
    @media (min-width: 991px) {
        font-size: 5rem;
    }
}
.btn {
    border-radius: 0px;
    &.btn-primary {
        background: $blue-color;
        font-weight: 600;
        border: 0px;
        position: relative;
        overflow: hidden;
        z-index: 999;
        @media (min-width: 991px) {
            font-size: 1rem;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0%;
            right: 100%;
            width: 100%;
            height: 100%;
            background: $orange-color;
            transition: .5s;
            z-index: -999;
        }
        &:hover::after{
            // background: $orange-color !important;
            color: $white-color !important;
            right: 0;
        }
    }
}

.services-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of elements to next line if space is tight */
    justify-content: space-between; /* Distribute items evenly with space between */
    flex-direction: column;
    @media (min-width: 991px) {
        flex-direction: row;
    }
    
    .services {
        display: flex;
        flex-direction: column; /* Align items vertically */
        justify-content: flex-start; /* Ensure content stretches within the div */
        width: calc(100% / 1 - 20px); /* 4 items per row with a bit of space between */
        margin-bottom: 20px; /* Add space below each item */
        // background: red;
        align-items: center;
        // padding: 30px;
        text-align: center;
        margin: 0 auto 20px;
        position: relative;
        overflow: hidden;
        @media (min-width: 991px) {
            width: calc(100% / 3 - 20px); /* 4 items per row with a bit of space between */
        }
        &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: $blue-color;
            opacity: .5;
            transition: .5s;
        }
        &:hover:before {
            top: 0;
        }
        h6 {
            width: 100%;
            height: 100%;
            display: block;
            font-weight: 400;
            margin: 0 0px;
            color: $white-color;
            z-index: 2;
            font-size: 20px;
            background-color: $blue-color;
            padding: 8px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: 991px) {
                font-size: 25px;
            }
        }
        // img {
        //     max-width: 90px;
        //     margin-bottom: 25px;
        //     z-index: 2;
        //     @media (min-width: 991px) {
        //         max-width: 90px;
        //     }
        // }
    }
}

.keySolution {
    padding: 0px;
    list-style: none;
    li {
        position: relative;
        padding-left: 25px;
        font-size: 20px;
        line-height: normal;
        margin-bottom: 15px;
        &::before {
            position: absolute;
            content: '';
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 606 438" style="enable-background:new 0 0 606 438;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%23f68a0a;stroke-width:88.9997;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:133.3333;}</style><path class="st0" d="M35,238.7l164.1,163L568.3,35"/></svg>');
            width: 15px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            left: 0;
            top: 10px;
        }
    }
}

// footer //
footer {
    background-color: $blue-color;
    .Sicons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;
        margin-top: 15px;
    }
    a {
        color: $white-color;
        &:hover {
            color: $orange-color;
            text-decoration: none;
        }
    }
}
small.copyright {
    font-size: 15px;
    color: $white-color;
    padding: 15px 0;
    display: block;
    text-align: center;
    border-top: 1px solid #fff;

    @media (max-width: 767px) {
        letter-spacing: 0;
    }
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}
#scrollToTopBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 110px;
    right: 45px;
    // background-color: $white-color;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 3px #999;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    font-size: 22px;
    z-index: 20;
    opacity: 0;
    transform: translateX(130%);
    transition: 0.4s;
    overflow: hidden;
    cursor: pointer;
    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}

.my-float{
	margin-top:16px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
}