section {
  column-width: 300px;
  column-gap: 5px;
  padding: 0px;
  margin-top: 5px;
}

section img {
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: #7f8c8d;
  perspective: 1000;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  opacity: 1;
  background-position: center;
  background-size: cover;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}


/*.lightbox:hover img{
  transform: translate(-50%, -50%) rotateY(180deg);
}*/

[class^="arrow"] {
  height: 200px;
  width: 50px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

[class^="arrow"]:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 15px;
}

.arrowr {
  right: 0;
}

.arrowr:after {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.arrowl {
  left: 0;
}

.arrowl:after {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.close {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 1);
  margin: 20px;
  cursor: pointer;
  top: 12%;
  opacity: 1;
}

.close:after,
.close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 100%;
  background: #bc202e;
  border-radius: 50px;
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.title {
  background: #bc202e;
  padding: 3px 8px;
  z-index: 1000;
  position: absolute;
  top: 140px;
  left: 100px;
  h1 {
    font-size: 19px;
    color: #fff;
    line-height: normal;
    margin: 0px;
  }
}

footer {
  z-index: -1;
  position: relative;
}
.galleryImg {
  position: relative;
  &::before {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    content: "";
    background: rgba(248, 152, 29, 0.5) url(../images/magnifying-icon.png) left top no-repeat;
    background-size: 30%;
    background-position: center center;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0px;
    border-radius: 0px;
    pointer-events: none;
    opacity: 0;
  }
  &:hover {
    &::before {
      cursor: pointer;
      opacity: 1;
    }
  }
}