@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding-top: 0;
    padding-bottom: 0;
}
.bevan-regular {
	font-family: "Bevan", serif;
	font-weight: 400;
	font-style: normal;
}
.montserrat700 {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
.montserrat400 {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

nav.navbar {
    background-color: rgba(255, 255, 255, .9) !important;
    padding: 20px 0;
}

.navbar-nav

.top-content {
    width: 100%;
    padding: 0;
}
/* .top-content .carousel {
    margin-bottom: 0px;
}
.top-content .carousel-control-prev {
    border-bottom: 0;
}
.top-content .carousel-control-next {
    border-bottom: 0;
} */

.carousel {
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    .top-content .carousel-indicators {
        display: none;
    }
}
.top-content .carousel-item {
    height: 100vh;
    min-height: 400px;
}
.top-content .carousel-item img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 575px) {
    .top-content .carousel-item {
        max-height: 400px;
    }
}
/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
	left: 0%;
    top: 45%;
    bottom: 15%;
    margin: auto;
    padding: 0px;
    position: relative;
    text-align: left;
    /* padding: 10px 85px; */
    color: #ffffff;
}

@media (max-width: 767px) {
    .slide_style_left {
        top: 55%;
    }
    a.carousel-control-next, a.carousel-control-prev{
        display: none;
    }
}

.slide_style_right {
    left: 10%;
    bottom: 15%;
    margin: auto;
    padding: 0px;
    position: absolute;
    text-align: left;
    /* padding: 10px 85px; */
    color: #ffffff;
}
.slideTextOne {
    font-size: 29px;
	text-transform: none;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@media (max-width: 767px) {
    .slideTextOne {
        font-size: 18px;
    }
}

.slideTextTwo {
    font-size: 75px;
	text-transform: none;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    text-align: center;
    color: #0b6387;
    /* background: #ffffff; */
    background-color: rgba(255, 255, 255, .8);
    padding: 5px 20px;
    display: inline-block;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .slideTextTwo {
        font-size: 32px;
    }
}
.slideTextThree {
    font-size: 20px;
	text-transform: none;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}


.slide_style_bottom {
    text-align: center !important;
	left: 0;
    bottom:15%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a.btn-primary {
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover, .slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
} 